venv
.idea
__pycache__
/logs/
.mutmut-cache
/tests/logs
.scannerwork
.mypy_cache
.pytest_cache
/apps/.DS_Store
/features/.DS_Store
/quizzes/.DS_Store
/security/.DS_Store
/sessions/.DS_Store
/ui_tests/.DS_Store
.DS_Store
webdrivers
/webdrivers/*
