.quiz-card {
    /*outline: solid red;*/
    height: 11rem;
    width: 200px;
    text-decoration: none;
}

.quiz-icon {
    /*outline: solid green;*/
    width: 60px;
    horiz-align: center;
}

.quiz-nav {
    text-decoration: none;
}


.quiz-nav {
    display: block;
    text-align: center;
    text-decoration: none;
    /*height: available;*/
}