.quiz-card {
    /*outline: solid red;*/
    height: 150px;
    width: 200px;
    text-decoration: none;
}

.quiz-icon {
    /*outline: solid green;*/
    width: 60px;
    horiz-align: center;
}

.quiz-nav {
    outline: red solid;
    text-decoration: none;
}