.quiz-card {
    /*outline: solid red;*/
    height: 12.5rem;
    width: 200px;
    margin: 20px 10px;
    text-decoration: none;
}

.quiz-icon {
    /*outline: solid green;*/
    width: 50%;
    float: none;
    align-content: center;
    margin: 5px;
    max-height: 100px;
}

.quiz-title {
    max-height: 3rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quiz-nav {
    text-decoration: none;
}

.quiz-nav {
    display: block;
    text-align: center;
    text-decoration: none;
    /*height: available;*/
}